#String Based Assignment Problem

1. Write a program to reverse a string.

In [ ]:
a = "uday"
for i in a[::-1]:
  print(i, end="") # prints yadu

yadu

2. Check if a string is a palindrome.

In [ ]:
def is_palindrome(s):
    # Convert the string to lowercase to ensure case-insensitive comparison
    s = s.lower()

    # Remove spaces and punctuation from the string
    s = ''.join(e for e in s if e.isalnum())

    # Compare the original string with its reverse
    return s == s[::-1]

s = "A man, a plan, a canal: Panama"
result = is_palindrome(s)
print(result)

3. Convert a string to uppercase.

In [ ]:
str1=input("Enter the string: ")
a=str1.upper()
print(a)

Enter the string: uday
UDAY

4. Convert a string to lowercase.

In [ ]:
str1=input("Enter the string: ")
a=str1.lower()
print(a)

Enter the string: UdaY
uday

5. Count the number of vowels in a string.

In [ ]:
def count(str1):
  count = 0
  vol = 'a','e','i','o','u'
  for i in str1:
    if i in vol:
      count +=1
  return count
str1 = "uday"
count(str1)

2

6. Count the number of consonants in a string.

In [ ]:
def count(str1):
  str1=str1.lower()
  count = 0
  vol = 'a','e','i','o','u'
  for i in str1:
    if i not in vol:
      count +=1
  return count
str1 = "uday"
count(str1)

2

7. Remove all whitespaces from a string.

In [ ]:
def remo_space(a):
  a=a.replace(" ",'')
  return a

a= "uday  patil"
a=a.replace(" ",'')
remo_space(a)

'udaypatil'

8. Find the length of a string without using the `len()` function.

In [ ]:

def count(str1):
  count=0
  for i in str1:
    count+=1
  return count
str1 = "uday"
count(str1)

4

9. Check if a string contains a specific word.

In [ ]:
# Step 1: Input the string and the specific word
input_string = input("Enter a string: ")
specific_word = input("Enter the specific word to check for: ")

# Step 2: Check if the specific word is present in the string using the 'in' keyword
if specific_word in input_string:
    # Step 3: Print message if word is present
    print(f"The string contains the word '{specific_word}'.")
else:
    # Step 3: Print message if word is not present
    print(f"The string does not contain the word '{specific_word}'.")

Enter a string: i love india
Enter the specific word to check for: love
The string contains the word 'love'.

10. Replace a word in a string with another word.

In [ ]:
# Step 1: Accept the input string
input_string = input("Enter a sentence: ")

# Step 2: Accept the old word and the new word
old_word = input("Enter the word to be replaced: ")
new_word = input("Enter the new word: ")

# Step 3: Replace the old word with the new word using string.replace() method
modified_string = input_string.replace(old_word, new_word)

# Step 4: Print the modified string
print("Modified string:", modified_string)

Enter a sentence: i love india
Enter the word to be replaced: i
Enter the new word: we
Modified string: we love wendwea

11. Count the occurrences of a word in a string.

In [ ]:
def count_word_occurrences(input_string, target_word):
    # Step 1: Initialize a variable to keep track of the word count
    word_count = 0

    # Step 2: Split the input string into a list of words
    words = input_string.split()

    # Step 3: Iterate through each word in the list
    for word in words:
        # Step 4: Check if the current word matches the target word
        if word == target_word:
            # Step 5: Increment the word count if the words match
            word_count += 1

    # Step 6: Return the final word count
    return word_count

# Input string
input_string = "This is a sample sentence. This sentence contains the word 'sample' multiple times."

# Target word to count
target_word = "sample"

# Call the function and print the result
result = count_word_occurrences(input_string, target_word)
print(f"The word '{target_word}' appears {result} times in the input string.")

The word 'sample' appears 1 times in the input string.

12. Find the first occurrence of a word in a string.

In [ ]:
def find_occ(text,word):
  index=text.find(word)
  if index==-1:
    return None

  return index

text = "uday sudhakar patil dhiraj patil"
word ="patil"
find_occ(text,word)

14

12. Find the first occurrence of a word in a string.

In [ ]:
def find_occ(text,word):
  index=text.rfind(word)
  if index==-1:
    return None

  return index

text = "uday sudhakar patil dhiraj patil"
word ="patil"
find_occ(text,word)

27

14. Split a string into a list of words.

In [ ]:
def split_string_into_words(text):
    # Step 1: Use the split() method to split the text into a list of words.
    words_list = text.split()

    # Step 2: Return the list of words.
    return words_list

# Example usage
text = "This is an example sentence."
words = split_string_into_words(text)
print("List of words:", words)

List of words: ['This', 'is', 'an', 'example', 'sentence.']

15. Join a list of words into a string.

In [ ]:
def join(list1):
  join_str = ' '.join(list1)
  return join_str

list1=['uday','sudhakar','patil']
join(list1)

'uday sudhakar patil'

16. Convert a string where words are separated by spaces to one where words
are separated by underscores.

In [ ]:
def convert_to_underscore_separated(text):
    # Step 1: Use the replace() method to replace spaces with underscores.
    underscore_separated = text.replace(" ", "_")

    # Step 2: Return the converted string.
    return underscore_separated

# Example usage
text = "This is an example sentence."
converted_text = convert_to_underscore_separated(text)
print("Converted text:", converted_text)

Converted text: This_is_an_example_sentence.

17. Check if a string starts with a specific word or phrase\

In [ ]:
def starts_with(text, prefix):
    # Step 1: Use the startswith() method to check if the text starts with the specified prefix.
    is_start = text.startswith(prefix)

    # Step 2: Return the result of the check.
    return is_start

# Example usage
text = "Hello, world!"
prefix = "Hello"
result = starts_with(text, prefix)
if result:
    print("The text starts with the prefix.")
else:
    print("The text does not start with the prefix.")

The text starts with the prefix.

18. Check if a string ends with a specific word or phrase.

In [ ]:
def starts_with(text, prefix):
    # Step 1: Use the startswith() method to check if the text starts with the specified prefix.
    is_start = text.endswith(prefix)

    # Step 2: Return the result of the check.
    return is_start

# Example usage
text = "Hello, world!"
prefix = "world!"
result = starts_with(text, prefix)
if result:
    print("The text starts with the prefix.")
else:
    print("The text does not start with the prefix.")

The text starts with the prefix.

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
def convert_to_title_case(text):
    # Step 1: Use the title() method to convert the text to title case.
    title_case_text = text.title()

    # Step 2: Return the converted text.
    return title_case_text

# Example usage
text = "hello world"
title_case_result = convert_to_title_case(text)
print("Title case:", title_case_result)

Title case: Hello World

20. Find the longest word in a string.

In [ ]:
def long_word(text):
  words = text.split()
  long_word=""
  max_len=0
  for word in words:
    if len(word)>max_len:
      max_len=len(word)
      long_word=word
  return long_word

text = "i love india"
long_word(text)

'india'

21. Find the shortest word in a string.

In [ ]:
def short_word(text):
  words =text.split()
  short_word=''
  min_len=float('inf')
  for word in words:
    if len(word) < min_len:
      min_len=len(word)
      short_word=word
  return short_word

text = "i love india"
short_word(text)

'i'

22. Reverse the order of words in a string.

In [ ]:
def reverse(text):
  str1=text.split()
  str1.reverse()
  print(" ".join(str1))
text = "india is great country"
reverse(text)

country great is india

23.Check if a string is alphanumeric.

In [ ]:
def check(text):
  if text.isalnum():
    print("yes")
  else:
    print("No")
text="uday3101"
check(text)

yes

24. Extract all digits from a string.

In [ ]:
def check(text):
  digit= ""
  for i in text:
    if i.isdigit():
      digit+=i
  return digit
text="uday3101"
check(text)

'3101'

25. Extract all alphabets from a string.

In [ ]:
def check(text):
  digit= ""
  for i in text:
    if i.isalpha():
      digit+=i
  return digit
text="uday3101"
check(text)

'uday'

26. Count the number of uppercase letters in a string.

In [ ]:
def count_uppercase(input_string):
    uppercase_count = sum(1 for char in input_string if char.isupper())
    return uppercase_count

# Example input string
input_string = "HelloWORLD"
result = count_uppercase(input_string)
print(result)

6

27. Count the number of lowercase letters in a string.

In [ ]:
def count_lowercase(input_string):
    lowercase_count = sum(1 for char in input_string if char.islower())
    return lowercase_count

# Example input string
input_string = "HelloWORLD"
result = count_lowercase(input_string)
print(result)

4

28. Swap the case of each character in a string.

In [ ]:
def check(text):
  digit=0
  for i in text:
    digit +=1
  return digit
text="HelloWORLD"
check(text)

10

In [ ]:
def swap_case(input_string):
    swapped_string = input_string.swapcase()
    return swapped_string

# Example input string
input_string = "HelloWORLD"
result = swap_case(input_string)
print(result)

hELLOworld

29. Remove a specific word from a string.

In [ ]:
def remove_word(input_string, word_to_remove):
    words = input_string.split()  # Split the input string into a list of words
    filtered_words = [word for word in words if word != word_to_remove]  # Create a new list excluding the word to remove
    modified_string = ' '.join(filtered_words)  # Join the filtered words back into a string
    return modified_string

# Example input string and word to remove
input_string = "Hello world, welcome to the world of programming."
word_to_remove = "world"
result = remove_word(input_string, word_to_remove)
print(result)

Hello world, welcome to the of programming.

30. Check if a string is a valid email address.

In [ ]:
# prompt: Check if a string is a valid email address. not using re simple way

def is_valid_email(email):
  """
  This function checks if a string is a valid email address.

  Args:
    email: The string to be checked.

  Returns:
    True if the string is a valid email address, False otherwise.
  """

  # Check if the string contains the "@" symbol.
  if "@" not in email:
    return False

  # Split the string into the local part and the domain part.
  local_part, domain_part = email.split("@")

  # Check if the local part is valid.
  if not local_part:
    return False
  for char in local_part:
    if not char.isalnum() and char not in ".-_":
      return False

  # Check if the domain part is valid.
  if not domain_part:
    return False
  for char in domain_part:
    if not char.isalnum() and char not in ".-":
      return False

  # Check if the domain part contains a period.
  if "." not in domain_part:
    return False

  return True


# Example usage
email = "uday.patil@example.com"
if is_valid_email(email):
  print("The email address is valid.")
else:
  print("The email address is invalid.")

The email address is valid.

31. Extract the username from an email address string.

In [ ]:
def extract_username(email):
  local_part=email.split("@")
  return local_part[0]
email = "uday.patil@example.com"
extract_username(email)

'uday.patil'

32. Extract the domain name from an email address string.

In [ ]:
def extract_username(email):
  local_part=email.split("@")
  return local_part[1]
email = "uday.patil@example.com"
extract_username(email)

'example.com'

33. Replace multiple spaces in a string with a single space.

In [ ]:
def replace_multiple_spaces(input_string):
    cleaned_string = ' '.join(input_string.split())  # Split the string at spaces and then join using a single space
    return cleaned_string

# Example input string with multiple spaces
input_string = "Hello     world!   How   are   you?"
result = replace_multiple_spaces(input_string)
print(result)

Hello world! How are you?

34. Check if a string is a valid URL.

> Add blockquote

In [ ]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  # Check if both scheme and netloc are present
    except ValueError:
        return False

# Example URLs
url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1)  # Should print True
print(result2)  # Should print False

True
False

35. Extract the protocol (http or https) from a URL string.

In [ ]:
def extract_protocol(url):
    # Find the index of the first occurrence of "://"
    protocol_end = url.find("://")

    if protocol_end != -1:
        # Extract the protocol from the URL
        protocol = url[:protocol_end]
        return protocol
    else:
        return None

# Example URL strings
url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"

# Extract protocols
protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)

# Print extracted protocols
print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

36. Find the frequency of each character in a string.

In [ ]:
a="i love india"
a.count('i')

3

37. Remove all punctuation from a string.

In [ ]:
def removed(text):
  punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
  no_punc =""
  for i in text:
    if i not in punc:
      no_punc+=i
  return no_punc

text="uday ! patil,how are you ?"
removed(text)

'uday  patilhow are you '

38. Check if a string contains only digits.

In [ ]:
def check(text):
  return text.isdigit()


text="uda111"
check(text)

False

39. Check if a string contains only alphabets.

In [ ]:
def check(text):
  return text.isalpha()


text="uda111"
check(text)

False

40. Convert a string to a list of characters.

In [ ]:
def convert1(text):
  return list(text)

text="uday patil"
convert1(text)

['u', 'd', 'a', 'y', ' ', 'p', 'a', 't', 'i', 'l']

41. Check if two strings are anagrams.

In [ ]:
def are_anagrams(str1, str2):
    # Remove spaces and convert strings to lowercase for accurate comparison
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    # Sort the characters in both strings and compare
    return sorted(str1) == sorted(str2)

# Example strings
string1 = "listen"
string2 = "silent"
string3 = "hello"
string4 = "world"

# Check if strings are anagrams
result1 = are_anagrams(string1, string2)
result2 = are_anagrams(string3, string4)

# Print the results
print(f"'{string1}' and '{string2}' are anagrams:", result1)
print(f"'{string3}' and '{string4}' are anagrams:", result2)

'listen' and 'silent' are anagrams: True
'hello' and 'world' are anagrams: False

42. Encode a string using a Caesar cipher.

In [ ]:
# Define a function named caesar_cipher that encodes a string using a Caesar cipher.
def caesar_cipher(text, shift):

  # Initialize an empty string to store the encoded text.
  encoded_text = ""

  # Iterate through each character in the input text.
  for char in text:
    # Check if the character is alphabetic.
    if char.isalpha():
      # Calculate the encoded character's Unicode code point value by shifting it by the specified amount.
      # Ensure the value wraps around within the lowercase alphabet range (a-z).
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      # Keep non-alphabetic characters unchanged.
      encoded_char = char

    # Add the encoded character to the encoded text.
    encoded_text += encoded_char

  # Return the resulting encoded text.
  return encoded_text

# Define the input text and the shift value for encoding.
text = "Hello, world!"
shift = 3

# Call the caesar_cipher function to encode the text using the specified shift.
encoded_text = caesar_cipher(text, shift)

# Print the encoded text.
print("Encoded text:", encoded_text)

43. Decode a Caesar cipher encoded string.

In [ ]:
# Define a function to decode a string using a Caesar cipher
def caesar_cipher_decoder(text, shift):

    # Initialize an empty string to store the decoded text
    decoded_text = ""

    # Loop through each character in the input text
    for char in text:
        # Check if the character is an alphabetic character
        if char.isalpha():
            # Calculate the decoded character using the shift value
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            # If the character is not alphabetic, keep it unchanged
            decoded_char = char

        # Add the decoded character to the decoded text
        decoded_text += decoded_char

    # Return the fully decoded text
    return decoded_text

# Example input
text = "ehoor, zruog!"
shift = 3

# Call the caesar_cipher_decoder function to decode the input text
decoded_text = caesar_cipher_decoder(text, shift)

# Print the decoded text
print("Decoded text:", decoded_text)

Decoded text: bello, world!


44. Find the most frequent word in a string

In [ ]:
def most_frequent_word(text):
  words = text.split()
  word_counts = {}
  for word in words:
    if word in word_counts:
      word_counts[word] += 1
    else:
      word_counts[word] = 1
  most_frequent_word = None
  max_count = 0
  for word, count in word_counts.items():
    if count > max_count:
      most_frequent_word = word
      max_count = count
  return most_frequent_word

text = "This is a sentence with some repeated words like like and like"
most_frequent_word = most_frequent_word(text)
print(f"Most frequent word: {most_frequent_word}")

Most frequent word: like

45. Find all unique words in a string.

In [ ]:
def unique(text):
  words = text.split()
  unique_words = set()
  for word in words:
    unique_words.add(word)
  return list(unique_words)

text="This is a sentence with some repeated words like like and like"
unique(text)

['with',
 'a',
 'This',
 'is',
 'repeated',
 'like',
 'and',
 'words',
 'some',
 'sentence']

46. Count the number of syllables in a string.

In [ ]:
# prompt: Count the number of syllables in a string. not use re

def count_syllables(text):
  count = 0
  vowels = "aeiou"
  text = text.lower()
  if text[0] in vowels:
    count += 1
  for i in range(1, len(text)):
    if text[i] in vowels and text[i-1] not in vowels:
      count += 1
  if text.endswith("e"):
    count -= 1
  if count == 0:
    count += 1
  return count

text = "Hello"
count_syllables(text)

2

47. Check if a string contains any special characters.

In [ ]:
def check(text):
  special = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
  for i in text:
    if i in special:
      return True
  return False

text="uday@3101"
check(text)

True

48. Remove the nth word from a string.

In [ ]:
def removed(text,number):
  words = text.split()
  words.pop(number)
  return words
text="i love rainy season"
number=2
removed(text,number)

49. Insert a word at the nth position in a string.

In [ ]:
def removed(text,number):
  words = text.split()
  words.insert(number,"uday")
  return words
text="i love rainy season"
number=2
removed(text,number)

['i', 'love', 'uday', 'rainy', 'season']

50. Convert a CSV string to a list of lists.

In [ ]:


def csv_to_list(csv_string):
  rows = csv_string.split('\n')
  result = []
  for row in rows:
    values = row.split(',')
    result.append(values)
  return result

csv_string = 'name,age,city\nJohn,30,New York\nJane,25,London\nDavid,40,Paris'
list_of_lists = csv_to_list(csv_string)
print(list_of_lists)

[['name', 'age', 'city'], ['John', '30', 'New York'], ['Jane', '25', 'London'], ['David', '40', 'Paris']]

#List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [ ]:
a=[i for i in range(1,11)]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [ ]:
def find_len(a):
  count=0
  for i in a:
    count+=1
  return count
a=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
find_len(a)

10

3. Append an element to the end of a list.

In [ ]:
def inster(a):
  a.append(3)
  return a

a=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
inster(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 3]

4. Insert an element at a specific index in a list.

In [ ]:
def inster(a):
  a.insert(3,22)
  return a
a=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
inster(a)

[1, 2, 3, 22, 4, 5, 6, 7, 8, 9, 10]

5. Remove an element from a list by its value.

In [ ]:
def removed(a):
  a.remove(3)
  return a
a=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
removed(a)

[1, 2, 4, 5, 6, 7, 8, 9, 10]

6. Remove an element from a list by its index.

In [ ]:
def removed(a):
  a.pop(3)
  return a
a=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
removed(a)

[1, 2, 3, 5, 6, 7, 8, 9, 10]

7. Check if an element exists in a list.

In [ ]:
a=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
target=3
if target in a:
  print("present")
else:
  print("No")

present

8. Find the index of the first occurrence of an element in a list.

In [ ]:
a=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
target=3
a=a.index(target)
a

2

9. Count the occurrences of an element in a list.

In [ ]:
a=[1, 2, 3, 4, 5, 3, 7, 3, 9, 10]
target=3
a=a.count(target)
a

3

10. Reverse the order of elements in a list.

In [ ]:
def reverse(arr):
  n=len(arr)
  for i in range(n//2):
    arr[i],arr[n-i-1]=arr[n-i-1],arr[i]
  return arr
arr = [2, 4, 5, 7, 9, 12]
reverse(arr)

[12, 9, 7, 5, 4, 2]

11. Sort a list in ascending order.

> Add blockquote

In [ ]:
a=[12, 9, 22, 5, 4, 2]
a.sort()
a

[2, 4, 5, 9, 12, 22]

12. Sort a list in descending order.

In [ ]:
# Example list
my_list = [50, 10, 30, 40, 20]

# Sort the list in descending order
my_list.sort(reverse=True)

# Print the sorted list
print("Sorted list in descending order:", my_list)

Sorted list in descending order: [50, 40, 30, 20, 10]

13. Create a list of even numbers from 1 to 20.

In [ ]:
a=[i for i in range(1,21) if i%2==0]
a

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [ ]:
a=[i for i in range(1,21) if i%2!=0]
a

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [ ]:
count=0
a=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for i in a:
  count+=i
count

55

16. Find the maximum value in a list.

In [ ]:
a=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
max(a)

10

17. Find the minimum value in a list.

In [ ]:
a=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
min(a)

1

18. Create a list of squares of numbers from 1 to 10.

In [ ]:
a=[i**2 for i in range(1,11)]
a

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [ ]:
import random
a=[random.randint(1,100) for i in range(10)]
a

[74, 23, 5, 49, 65, 44, 66, 74, 84, 70]

20. Remove duplicates from a list.

In [ ]:
def unique(a):
  unique_list=[]
  for i in a:
    if i not in unique_list:
      unique_list.append(i)
  return unique_list

a=[12,3,34,3,2,5,66]
unique(a)

[12, 3, 34, 2, 5, 66]

21. Find the common elements between two lists.

In [ ]:
a=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b=[2, 4, 5, 7, 9, 12]
c=[i for i in a if i in b]
c

[2, 4, 5, 7, 9]

22. Find the difference between two lists.

In [ ]:
a=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b=[2, 4, 5, 7, 9, 12]
c=[i for i in a if i not in b]
c

[1, 3, 6, 8, 10]

23. Merge two lists.

In [ ]:
a=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b=[2, 4, 5, 7, 9, 12]
c=a+b
c

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 4, 5, 7, 9, 12]

24. Multiply all elements in a list by 2.

In [ ]:
a=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b=[i*2 for i in a]
b

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

25. Filter out all even numbers from a list.

In [ ]:
def even(lst):
  even_list=[]
  for i in lst:
    if i%2==0:
      even_list.append(i)
  return even_list
a=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even(a)

[2, 4, 6, 8, 10]

26. Convert a list of strings to a list of integers.

In [ ]:
# Example list of strings
string_list = ["10", "20", "30", "40", "50"]

# Convert list of strings to list of integers using a list comprehension
integer_list = [int(x) for x in string_list]

# Print the list of integers
print("List of integers:", integer_list)

List of integers: [10, 20, 30, 40, 50]

27. Convert a list of integers to a list of strings.

In [ ]:
# Example list of strings
integer_list =[10, 20, 30, 40, 50]

# Convert list of strings to list of integers using a list comprehension
string_list = [str(x) for x in string_list]

# Print the list of integers
print("List of strings:", string_list)

List of strings: ['10', '20', '30', '40', '50']

28. Flatten a nested list.

In [ ]:
# Example nested list
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

# Function to flatten a nested list
def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened

# Flatten the nested list
flattened_list = flatten_list(nested_list)

# Print the flattened list
print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

29. Create a list of the first 10 Fibonacci numbers.

In [ ]:
lst=[]
for i in range(10):
  if i==0:
    lst.append(0)
  elif i==1:
    lst.append(1)
  else:
    lst.append(lst[i-1]+lst[i-2])
lst

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

30. Check if a list is sorted.

In [ ]:
lst=[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]
n=len(lst)
for i in range(n-1):
  if lst[i]>lst[i+1]:
    print("not sorted")
    break
else:
  print("sorted")

sorted

31. Rotate a list to the left by `n` positions.

In [ ]:
lst=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
n=3
for i in lst:
  lst=lst[n:]+lst[:n]
  break
lst

[4, 5, 6, 7, 8, 9, 10, 1, 2, 3]

32. Rotate a list to the right by `n` positions.

In [ ]:
lst=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
n=3
for i in lst:
  lst=lst[-n:]+lst[:-n]
  break
lst

[8, 9, 10, 1, 2, 3, 4, 5, 6, 7]

33. Create a list of prime numbers up to 50.

In [ ]:
lst=[]
for i in range(50):
  count=0
  for j in range(1,i+1):
    if i%j==0:
      count+=1
  if count==2:
    lst.append(i)
lst

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

34. Split a list into chunks of size `n`.

In [ ]:
# Create a list of prime numbers up to 50 using Sieve of Eratosthenes algorithm
def sieve_of_eratosthenes(limit):
    primes = []
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False

    for num in range(2, int(limit ** 0.5) + 1):
        if is_prime[num]:
            primes.append(num)
            for multiple in range(num * num, limit + 1, num):
                is_prime[multiple] = False

    for num in range(int(limit ** 0.5) + 1, limit + 1):
        if is_prime[num]:
            primes.append(num)

    return primes

# Create a list of prime numbers up to 50
prime_numbers = sieve_of_eratosthenes(50)

# Print the list of prime numbers
print("List of prime numbers up to 50:", prime_numbers)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

35. Find the second largest number in a list.

In [ ]:
lst=[1, 2, 3, 4, 5, 22, 7, 33, 9, 10]
lst.sort()
lst[-2]

22

36. Replace every element in a list with its square.

In [ ]:
# Example list
my_list = [2, 4, 6, 8, 10]

# Replace every element with its square using a list comprehension
squared_list = [x ** 2 for x in my_list]

# Print the squared list
print("Squared list:", squared_list)

Squared list: [4, 16, 36, 64, 100]

37. Convert a list to a dictionary where list elements become keys and their
indices become values.

In [ ]:
dis={i:j for j,i in enumerate([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])}
dis

{1: 0, 2: 1, 3: 2, 4: 3, 5: 4, 6: 5, 7: 6, 8: 7, 9: 8, 10: 9}

38. Shuffle the elements of a list randomly.

In [ ]:
import random
lst=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
random.shuffle(lst)
lst

[9, 5, 4, 7, 6, 2, 10, 8, 3, 1]

39. Create a list of the first 10 factorial numbers.

In [ ]:
lst=[]
for i in range(1,11):
  fact=1
  for j in range(1,i+1):
    fact*=j
  lst.append(fact)
lst

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

40. Check if two lists have at least one element in common.

In [ ]:
lst1=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lst2=[2, 4, 5, 7, 9, 12]
lst3=[i for i in lst1 if i in lst2]
if len(lst3)>0:
  print("True")
else:
  print("False")

True

41. Remove all elements from a list.

In [ ]:
lst=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lst.clear()
lst

[]

42. Replace negative numbers in a list with 0.

In [ ]:
lst=[1, 2, 3, 4, -5, -6, 7, 8, 9, 10]
for i in range(len(lst)):
  if lst[i]<0:
    lst[i]=0
lst

[1, 2, 3, 4, 0, 0, 7, 8, 9, 10]

43. Convert a string into a list of words.

In [ ]:
# Example string
my_string = "Hello, this is a sample sentence."

# Convert the string into a list of words
word_list = my_string.split()

# Print the list of words
print("List of words:", word_list)

List of words: ['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']

44. Convert a list of words into a string.

In [ ]:
# Example list of words
word_list = ["Hello,", "this", "is", "a", "sample", "sentence."]

# Convert the list of words into a string
my_string = " ".join(word_list)

# Print the resulting string
print("Converted string:", my_string)

Converted string: Hello, this is a sample sentence.

45. Create a list of the first `n` powers of 2.

In [ ]:
# Specify the value of n
n = 5

# Create a list of the first n powers of 2 using a loop
power_list = [2 ** i for i in range(n)]

# Print the list of powers of 2
print("List of the first", n, "powers of 2:", power_list)

List of the first 5 powers of 2: [1, 2, 4, 8, 16]

46. Find the longest string in a list of strings.

In [ ]:
# Example list of strings
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Find the longest string in the list
longest_string = ""
for s in string_list:
    if len(s) > len(longest_string):
        longest_string = s

# Print the longest string
print("Longest string:", longest_string)

Longest string: elderberry

47. Find the shortest string in a list of strings.

In [ ]:
# Example list of strings
string_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Find the longest string in the list
short_string = ""
for s in string_list:
    if len(s) < len(longest_string):
        short_string = s

# Print the longest string
print("short string:", short_string)

short string: date

48. Create a list of the first `n` triangular numbers.

In [ ]:
# Function to calculate triangular numbers
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]

# Specify the value of n
n = 5

# Create a list of the first n triangular numbers
triangular_list = triangular_numbers(n)

# Print the list of triangular numbers
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [ ]:
# Function to check if a list contains another list as a subsequence
def is_subsequence(subsequence, main_list):
    subseq_index = 0  # Index for the subsequence elements
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

# Example main list and subsequence
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

# Check if the main list contains the subsequence
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

50. Swap two elements in a list by their indices.

In [ ]:
# Example list
my_list = [1, 2, 3, 4, 5]

# Indices of elements to swap
index1 = 1
index2 = 3

# Swap the elements at the specified indices
temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

# Print the list after swapping
print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]

#Tuple Based Practice Problem :

1. Create a tuple with integers from 1 to 5.

In [ ]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

2. Access the third element of a tuple.

In [ ]:
my_tuple = (10, 20, 30, 40, 50)
my_tuple[2]

30

3. Find the length of a tuple without using the `len()` function.

In [ ]:
my_tuple = (10, 20, 30, 40, 50)
count=0
for i in my_tuple:
  count+=1
count

5

4. Count the occurrences of an element in a tuple.

In [ ]:
my_tuple = (10, 30, 30, 40, 50)
count=0
a=30
for i in my_tuple:
  if i==a:
    count+=1
count

2

5. Find the index of the first occurrence of an element in a tuple.

In [ ]:
my_tuple = (10, 30, 30, 40, 50)
index=-1
a=50
for i ,item in enumerate(my_tuple):
  if item == a:
    index=i
    break
index

4

6. Check if an element exists in a tuple.

In [ ]:
my_tuple = (10, 30, 30, 40, 50)
a=100
if a in my_tuple:
  print("exist")
else:
  print("no")

no

7. Convert a tuple to a list.

In [ ]:
my_tuple = (10, 30, 30, 40, 50)
a=list(my_tuple)
a

[10, 30, 30, 40, 50]

8. Convert a list to a tuple.

In [ ]:
a=[10, 30, 30, 40, 50]
my_tuple=tuple(a)
my_tuple

(10, 30, 30, 40, 50)

9. Unpack the elements of a tuple into variables.

In [ ]:
my_tuple = (10, 30, 30, 40, 50)
(a,b,c,*d)=my_tuple
print(a)
print(b)
print(c)
print(d)

10
30
30
[40, 50]

10. Create a tuple of even numbers from 1 to 10.

In [ ]:
a=[]
for i in range(1,11):
  if i%2==0:
    a.append(i)
tuple(a)

(2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [ ]:
a=[i for i in range(1,10,2)]
tuple(a)

(1, 3, 5, 7, 9)

12. Concatenate two tuples.

In [ ]:
a=(1,23,4,5)
b=(2,4,6,8,0)
c=a+b
c

(1, 23, 4, 5, 2, 4, 6, 8, 0)

13. Repeat a tuple three times.

In [ ]:
a= (10, 30, 30, 40, 50)
b= a*3
b

(10, 30, 30, 40, 50, 10, 30, 30, 40, 50, 10, 30, 30, 40, 50)

14. Check if a tuple is empty.

In [ ]:
a= (10, 30, 30, 40, 50)
if not a:
  print("Empty")
else:
  print("Not ")

Not

15. Create a nested tuple.

In [ ]:
# Step 1: Create a nested tuple
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

# Step 2: Print the nested tuple
print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

16. Access the first element of a nested tuple.

In [ ]:
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))
a=nested_tuple[0]
a

(1, 2, 3)

17. Create a tuple with a single element.

In [ ]:
a=("uday",)
a

('uday',)

18. Compare two tuples.

In [ ]:
# Step 1: Create two tuples
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

# Step 2: Compare the two tuples using comparison operators
print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

19. Delete a tuple.

In [ ]:
tuple1 = (1, 2, 3)
del tuple1
tuple1

NameError: name 'tuple1' is not defined

20. Slice a tuple.

In [ ]:
# Step 1: Create a tuple
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

# Step 2: Slice the tuple to get a portion of it
sliced_tuple = my_tuple[2:6]  # Elements from index 2 to 5 (end index is exclusive)

# Step 3: Print the sliced tuple
print("Sliced tuple:", sliced_tuple)

Sliced tuple: (3, 4, 5, 6)

21. Find the maximum value in a tuple.

In [ ]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
max1=1
for i in my_tuple:
  if i > max1:
    max1=i
max1

10

22. Find the minimum value in a tuple.

In [ ]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
max1=1
for i in my_tuple:
  if i < max1:
    max1=i
max1

1

23. Convert a string to a tuple of characters.

In [ ]:
a="uday sudhakar patil"
a=tuple(a)
print(a,end='')

('u', 'd', 'a', 'y', ' ', 's', 'u', 'd', 'h', 'a', 'k', 'a', 'r', ' ', 'p', 'a', 't', 'i', 'l')

24. Convert a tuple of characters to a string.

In [ ]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
a=(str(my_tuple))
a

'(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)'

25. Create a tuple from multiple data types.

In [ ]:
my_tuple = (1, 2, 3, 'a', 'b', 'c', True, False)
my_tuple

(1, 2, 3, 'a', 'b', 'c', True, False)

26. Check if two tuples are identical.

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)
if tuple1 is tuple2:
  print("identical")
else:
  print("non identical")

non identical

27. Sort the elements of a tuple.

In [ ]:
a=(23,43,54,21,57,43)
a=sorted(a)
a

[21, 23, 43, 43, 54, 57]

28. Convert a tuple of integers to a tuple of strings.

In [ ]:
# Step 1: Create a tuple of integers
tuple_of_integers = (1, 2, 3, 4, 5)

# Step 2: Convert the tuple of integers to a tuple of strings using a list comprehension
tuple_of_strings = tuple(str(item) for item in tuple_of_integers)

# Step 3: Print the tuple of strings
print("Tuple of strings:", tuple_of_strings)

Tuple of strings: ('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [ ]:
# Step 1: Create a tuple of strings
tuple_of_strings = ('10', '20', '30', '40', '50')

# Step 2: Convert the tuple of strings to a tuple of integers using a list comprehension
tuple_of_integers = tuple(int(item) for item in tuple_of_strings)

# Step 3: Print the tuple of integers
print("Tuple of integers:", tuple_of_integers)

Tuple of integers: (10, 20, 30, 40, 50)

30. Merge two tuples.

In [ ]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)
a=tuple1+tuple2
a

(1, 2, 3, 1, 2, 4)

31. Flatten a nested tuple.

In [ ]:
# Recursive function to flatten a nested tuple
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

# Step 1: Create a nested tuple
nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

# Step 2: Flatten the nested tuple
flattened_tuple = tuple(flatten_tuple(nested_tuple))

# Step 3: Print the flattened tuple
print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

32. Create a tuple of the first 5 prime numbers.

In [ ]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Generate the first 5 prime numbers
prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

# Convert the list to a tuple
prime_numbers_tuple = tuple(prime_numbers_list)

# Print the tuple of prime numbers
print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [ ]:
t=(1,2,3,2,1)
if t==t[::-1]:
  print("pelindrom")
else:
  print("no")

pelindrom

34. Create a tuple of squares of numbers from 1 to 5.

In [ ]:
a=tuple(i**2 for i in range(1,6))
a

(1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [ ]:
a=(1,2,3,4,5,6)
b=tuple(i for i in a if i%2==0)
b

(2, 4, 6)

36. Multiply all elements in a tuple by 2.

In [ ]:
a=(1,2,3,4,5,6)
b=tuple(i*2 for i in a)
b

(2, 4, 6, 8, 10, 12)

37. Create a tuple of random numbers.

In [ ]:
import random

# Create a tuple of random numbers using a list comprehension
random_tuple = tuple(random.randint(1, 100) for _ in range(10))  # Generating 10 random numbers between 1 and 100

# Print the tuple of random numbers
print("Random tuple:", random_tuple)

Random tuple: (89, 19, 16, 49, 70, 23, 56, 83, 33, 71)

38. Check if a tuple is sorted.

In [ ]:
a=(98, 47, 9, 23, 38, 21, 9, 64, 25, 37)
for i in range(len(a)-1):
  if a[i]>a[i+1]:
    print("not sorted")
    break
  else:
    print("shorted")

not sorted

39. Rotate a tuple to the left by `n` positions.

In [ ]:
def rotate_tuple_left(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[n:] + tup[:n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [ ]:
def rotate_tuple_left(tup, n):
    n = n % len(tup)  # Ensure n is within the range of tuple length
    rotated_tuple = tup[-n:] + tup[:-n]  # Rotate the tuple
    return rotated_tuple

# Example tuple
my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [ ]:
lst=[]
for i in range(10):
  if i==0:
    lst.append(0)
  elif i==1:
    lst.append(1)
  else:
    lst.append(lst[i-1]+lst[i-2])
print(tuple(lst))

(0, 1, 1, 2, 3, 5, 8, 13, 21, 34)

42. Create a tuple from user input.

In [ ]:
# Taking user input for creating a tuple
input_str = input("Enter elements separated by commas: ")

# Splitting the input string into a list of strings
input_list = input_str.split(',')

# Converting the list of strings to a tuple
user_tuple = tuple(input_list)

# Printing the created tuple
print("User input tuple:", user_tuple)

Enter elements separated by commas: uday
User input tuple: ('uday',)

43. Swap two elements in a tuple.

In [ ]:
# Create a tuple
my_tuple = (1, 2, 3, 4, 5)

# Swap elements at indices 1 and 3
index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

# Print the swapped tuple
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

44. Reverse the elements of a tuple.

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
a=my_tuple[::-1]
a

(5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [ ]:
a=tuple(2**i for i in range(5))
a

(1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [ ]:
# Create a tuple of strings
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")

# Find the longest string in the tuple
longest_string = max(string_tuple, key=len)

# Print the longest string
print("Longest string:", longest_string)

Longest string: watermelon

47. Find the shortest string in a tuple of strings.

In [ ]:
string_tuple = ("apple", "banana", "grape", "kiwi", "watermelon")
shorted_string= min(string_tuple,key=len)
print("shorted string: ",shorted_string)

shorted string:  kiwi

48. Create a tuple of the first `n` triangular numbers.

In [ ]:
# Define the value of n
n = 5

# Create a tuple of the first n triangular numbers using a list comprehension
triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

# Print the tuple of triangular numbers
print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 5 triangular numbers: (1, 3, 6, 10, 15)

49. Check if a tuple contains another tuple as a subsequence.

In [ ]:
# Function to check if a tuple contains another tuple as a subsequence
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

# Main tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Subsequence tuple
sub_tuple = (3, 4, 5)

# Check if the main tuple contains the subsequence tuple
contains_subseq = contains_subsequence(main_tuple, sub_tuple)

# Print the result
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

50. Create a tuple of alternating 1s and 0s of length `n`.

In [ ]:
# Define the value of n
n = 10

# Create a tuple of alternating 1s and 0s using a list comprehension
alternating_tuple = tuple(i % 2 for i in range(n))

# Print the tuple of alternating 1s and 0s
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

## **Set based problems:**

1. Create a set with integers from 1 to 5.

In [ ]:
a=set()
a.add(1)
a.add(2)
a.add(3)
a.add(4)
print(a)

{1, 2, 3, 4}

2. Add an element to a set.

In [ ]:
a=set()
a.add(1)
a.add(2)
a.add(3)
a.add(4)
print(a)

{1, 2, 3, 4}

3. Remove an element from a set.

In [ ]:
a={1, 2, 3, 4}
a.remove(1)
a

{2, 3, 4}

4. Check if an element exists in a set.

In [ ]:
a={1, 2, 3, 4}
b=5

if b in a:
  print("Exist")
else:
  print("Not")

Not

5. Find the length of a set without using the `len()` function.

In [ ]:
a={1, 2, 3, 4}
count=0
for i in a:
  count+=1
count

4

6. Clear all elements from a set.

In [ ]:
a={1, 2, 3, 4}
a.clear()
a

set()

7. Create a set of even numbers from 1 to 10.

In [ ]:
a=set()
for i in range(1,11):
  if i%2==0:
    a.add(i)
a

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [ ]:
a=set()
for i in range(1,11):
  if i%2!=0:
    a.add(i)
a

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [ ]:
a={2, 4, 6, 8, 10}
b={1,2,3,4,5}
c=a.union(b)
# c= a|b
c

{1, 2, 3, 4, 5, 6, 8, 10}

10. Find the intersection of two sets.

In [ ]:
a={2, 4, 6, 8, 10}
b={1,2,3,4,5}
c=a.intersection(b)
c

{2, 4}

11. Find the difference between two sets.

In [ ]:
a={2, 4, 6, 8, 10}
b={1,2,3,4,5}
c=a.difference(b)
c

{6, 8, 10}

12. Check if a set is a subset of another set.

In [ ]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

# Use the "issubset()" method to check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Print the result
print("Is set1 a subset of set2:", is_subset)

Is set1 a subset of set2: True

13. Check if a set is a superset of another set.

In [ ]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

# Use the "issubset()" method to check if set1 is a subset of set2
is_superset = set1.issuperset(set2)

# Print the result
print("Is set1 a superset of set2:", is_superset)

Is set1 a superset of set2: False

14. Create a set from a list.

In [ ]:
a=set()
lst=[1,2,3,45]
for i in lst:
  a.add(i)
a

{1, 2, 3, 45}

15. Convert a set to a list.

In [ ]:
a=list()
b={1, 2, 3, 45}
for i in b:
  a.append(i)
a

[1, 2, 3, 45]

16. Remove a random element from a set.

In [ ]:
import random  # Import the random module

# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Display the original set
print("Original set:", my_set)

# Choose a random element from the set using the random.choice() function
random_element = random.choice(list(my_set))

# Remove the chosen random element from the set using the remove() method
my_set.remove(random_element)

# Display the updated set after removing the random element
print("Updated set after removing", random_element, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Updated set after removing 3 : {1, 2, 4, 5}

17. Pop an element from a set.

In [ ]:
# Create a set with some elements
my_set = {1, 2, 3, 4, 5}

# Print the original set
print("Original set:", my_set)

# Pop an element from the set using the pop() method
popped_element = my_set.pop()

# Print the element that was popped
print("Popped element:", popped_element)

# Print the set after popping an element
print("Set after popping:", my_set)

Original set: {1, 2, 3, 4, 5}
Popped element: 1
Set after popping: {2, 3, 4, 5}

18. Check if two sets have no elements in common.

In [ ]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Step 2: Check if the intersection of the two sets is empty
# The intersection is the set of elements that are common to both sets
common_elements = set1.intersection(set2)

# Step 3: Check if the common_elements set is empty
if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have no elements in common.

19. Find the symmetric difference between two sets.

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}
# Calculate the symmetric difference using the ^ operator
symmetric_difference = set1 ^ set2

# Print the symmetric difference
print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {1, 2, 3, 4, 5, 6, 7, 8}

20. Update a set with elements from another set.

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{'b', 1, 2, 3, 'c', 'a'}

21. Create a set of the first 5 prime numbers.

In [ ]:
# Function to check if a number is prime
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create an empty set to store the prime numbers
prime_set = set()

# Initialize the number to start checking for primes
num = 2

# Loop until we have found the first 5 prime numbers
while len(prime_set) < 5:
    # Check if the current number is prime using the is_prime function
    if is_prime(num):
        # If the number is prime, add it to the prime_set
        prime_set.add(num)

    # Move on to the next number for the next iteration
    num += 1

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [ ]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}  # The order of elements doesn't matter in sets

# Step 2: Check if the sets are identical using the `==` operator
# Sets are unordered collections, so the order of elements doesn't matter.
# The `==` operator compares the content of the sets.
if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

23. Create a frozen set.

In [ ]:
# Step 2: Define a list of elements that you want to include in the frozen set
elements = [1, 2, 3, 4, 5]

# Step 3: Create a frozen set using the 'frozenset' constructor and passing the list of elements
my_frozen_set = frozenset(elements)

# Step 4: Print the frozen set
print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [ ]:
# Step 1: Define the two sets you want to check for disjointness
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

# Step 2: Use the `isdisjoint()` method to check if the sets are disjoint
# The `isdisjoint()` method returns True if the sets have no common elements,
# and False if they have at least one common element.
disjoint_status = set1.isdisjoint(set2)

# Step 3: Print the result
print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

25. Create a set of squares of numbers from 1 to 5.

In [ ]:
# Step 1: Create an empty set to store the squares of numbers
squares_set = set()

# Step 2: Use a loop to iterate through numbers from 1 to 5
for num in range(1, 6):
    # Step 3: Calculate the square of the current number
    square = num ** 2

    # Step 4: Add the square to the set
    squares_set.add(square)

# Step 5: Print the set of squares
print(squares_set)

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [ ]:
# Step 1: Create a set with integers from 1 to 5
original_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the filtered even numbers
even_numbers_set = set()

# Step 3: Iterate through each element in the original set
for num in original_set:
    # Step 4: Check if the current number is even (divisible by 2)
    if num % 2 == 0:
        # Step 5: If even, add it to the even_numbers_set
        even_numbers_set.add(num)

# Step 6: Print the original set and the set containing even numbers
print("Original Set:", original_set)
print("Even Numbers Set:", even_numbers_set)

Original Set: {1, 2, 3, 4, 5}
Even Numbers Set: {2, 4}

27. Multiply all elements in a set by 2.

In [ ]:
# Create a set with integers from 1 to 5
original_set = {1, 2, 3, 4, 5}

# Initialize an empty set to store the multiplied elements
multiplied_set = set()

# Loop through each element in the original set
for num in original_set:
    # Multiply the current element by 2
    multiplied_num = num * 2

    # Add the multiplied element to the multiplied_set
    multiplied_set.add(multiplied_num)

# The original_set remains unchanged
print("Original Set:", original_set)

# Display the set with elements multiplied by 2
print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

28. Create a set of random numbers.

In [ ]:
# Step 1: Import the `random` module to generate random numbers
import random

# Step 2: Define the number of random numbers you want in the set
num_random_numbers = 5

# Step 3: Initialize an empty set to store the random numbers
random_number_set = set()

# Step 4: Use a loop to generate random numbers and add them to the set
for _ in range(num_random_numbers):
    # Generate a random integer using the `randint` function from the `random` module
    random_num = random.randint(1, 100)  # Generate a random number between 1 and 100
    # Add the random number to the set
    random_number_set.add(random_num)

# Step 5: Print the generated set of random numbers
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {96, 66, 80, 87, 25}

29. Check if a set is empty.

In [ ]:
a={23,57,24}

if not a:
  print("Empty")
else:
  print("not empty")

not empty

30. Create a nested set (hint: use frozenset).

In [ ]:

set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

# Step 2: Create frozensets from the inner sets
frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

# Step 3: Create the nested set using the frozensets
nested_set = {frozen_set1, frozen_set2}

# Print the nested set
print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

31. Remove an element from a set using the discard method.

In [ ]:
set = {1, 2, 3, 4, 5}

# Display the initial set
print("Initial set:", my_set)

# Define the element to be removed
element_to_remove = 3

# Use the discard() method to remove the element from the set
# If the element is not present in the set, discard() won't raise an error
my_set.discard(element_to_remove)

# Display the set after removing the element
print("Set after removing", element_to_remove, ":", my_set)

Initial set: {2, 3, 4, 5}
Set after removing 3 : {2, 4, 5}

32. Compare two sets.

In [ ]:
# Step 1: Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Use set operations to compare the sets
# Check if set1 is a subset of set2
is_subset = set1.issubset(set2)

# Check if set2 is a subset of set1
is_superset = set1.issuperset(set2)

# Find the intersection of the sets
intersection = set1.intersection(set2)

# Find the union of the sets
union = set1.union(set2)

# Find the elements that are in set1 but not in set2
difference1 = set1.difference(set2)

# Find the elements that are in set2 but not in set1
difference2 = set2.difference(set1)

# Step 3: Print the results
print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

33. Create a set from a string.

In [ ]:
# Step 1: Define the input string
input_string = "hello"

# Step 2: Use the set() constructor to create a set from the characters in the string
char_set = str(input_string)

# Step 3: Print the resulting set
print(char_set)

hello

34. Convert a set of strings to a set of integers.

In [ ]:
# Step 1: Create a set of strings
string_set = {"123", "456", "789"}

# Step 2: Initialize an empty set to store integers
integer_set = set()  # Use the built-in set() constructor to create an empty set

# Step 3: Iterate through each string in the string set
for string in string_set:
    # Step 4: Convert the string to an integer using the int() function
    integer_value = int(string)

    # Step 5: Add the integer to the integer set
    integer_set.add(integer_value)

# Step 6: Print the original string set and the converted integer set
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

TypeError: 'set' object is not callable

35. Convert a set of integers to a set of strings.

In [ ]:
# Step 1: Create a set of integers
integers_set = {1, 2, 3, 4, 5}

# Step 2: Initialize an empty set to store the strings
strings_set = set()

# Step 3: Iterate through each integer in the integers_set
for num in integers_set:
    # Step 4: Convert the integer to a string using the str() function
    num_str = str(num)

    # Step 5: Add the string representation to the strings_set
    strings_set.add(num_str)

# Step 6: Print the original integers_set and the converted strings_set
print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

TypeError: 'set' object is not callable

36. Create a set from a tuple.

In [ ]:
# Given tuple
input_tuple = (1, 2, 3, 2, 4, 5, 1)

# Step 1: Convert the tuple to a set
output_set = set(input_tuple)
# At this point, the set() function is used to convert the elements of the tuple into a set.
# Since sets only contain unique elements, duplicate values are automatically removed.

# Step 2: Print the resulting set
print(output_set)
# The set is now printed, and it will only contain the unique elements from the original tuple.

TypeError: 'set' object is not callable

37. Convert a set to a tuple.

In [ ]:
# Step 1: Create a set
input_set = {1, 2, 3, 4, 5}

# Step 2: Convert the set to a tuple
output_tuple = tuple(input_set)

# Step 3: Print the original set and the converted tuple
print("Original set:", input_set)
print("Converted tuple:", output_tuple)

Original set: {1, 2, 3, 4, 5}
Converted tuple: (1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [ ]:
a = {1, 2, 3, 4, 5}
a=max(a)
a

5

39. Find the minimum value in a set.

In [ ]:
a = {1, 2, 3, 4, 5}
a=min(a)
a

1

40. Create a set from user input.

In [ ]:
# Step 1: Initialize an empty set
user_set = set()

# Step 2: Get input from the user
print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")  # Get input from the user

    if user_input.lower() == 'done':
        break  # Exit the loop if the user enters 'done'

    # Step 3: Add the user input to the set
    user_set.add(user_input)

# Step 4: Display the final set created from user input
print("Final set:", user_set)

TypeError: 'set' object is not callable

41. Check if the intersection of two sets is empty.

In [ ]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Step 2: Find the intersection of the two sets using the `intersection()` method
intersection_result = set1.intersection(set2)

# Step 3: Check if the intersection result is empty
if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

42. Create a set of the first 5 Fibonacci numbers.

In [ ]:
# Create a set to store the first 5 Fibonacci numbers
fibonacci_set = set()

# Initialize the first two Fibonacci numbers
a, b = 0, 1

# Loop to generate the first 5 Fibonacci numbers
for _ in range(6):
    # Add the current Fibonacci number to the set
    fibonacci_set.add(a)

    # Calculate the next Fibonacci number
    a, b = b, a + b

# Print the set of Fibonacci numbers
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

TypeError: 'set' object is not callable

43. Remove duplicates from a list using sets.

In [ ]:
a=[2,2,2,3,4,6,8,4,3,8,54,7,45,78,543,56,78,65,56]
a=set(a)
a

TypeError: 'set' object is not callable

44. Check if two sets have the same elements, regardless of their count.

In [ ]:
def have_same_elements(set1, set2):
    # Convert the sets to lists and sort them
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))

    # Compare the sorted lists to check if they are equal
    return sorted_list1 == sorted_list2

# Example sets
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

# Check if the sets have the same elements
result = have_same_elements(set1, set2)

# Print the result
if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

45. Create a set of the first n powers of 2

In [ ]:
def generate_powers_of_2(n):
    # Initialize an empty set to store the powers of 2
    powers_of_2 = set()

    # Loop from 0 to n-1
    for i in range(n):
        # Calculate the current power of 2 using the exponentiation operator **
        power = 2 ** i

        # Add the current power of 2 to the set
        powers_of_2.add(power)

    # Return the set of powers of 2
    return powers_of_2

# Define the value of n
n = 5

# Call the function to generate the set of powers of 2
powers_set = generate_powers_of_2(n)

# Print the resulting set
print(powers_set)

46. Find the common elements between a set and a list.

In [ ]:
# Step 1: Define a set and a list
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

# Step 2: Convert the list to a set for efficient comparison
list_to_set = set(my_list)

# Step 3: Initialize an empty list to store common elements
common_elements = []

# Step 4: Iterate through the elements in the set
for element in my_set:
    # Step 5: Check if the element is present in the converted set (list_to_set)
    if element in list_to_set:
        # Step 6: If the element is present in both the set and the list, add it to the common_elements list
        common_elements.append(element)

# Step 7: Print the common elements
print("Common elements:", common_elements)

47. Create a set of the first n triangular numbers.:

In [ ]:
def generate_triangular_numbers(n):
    triangular_numbers = set()  # Create an empty set to store the triangular numbers
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  # Calculate the ith triangular number using the formula
        triangular_numbers.add(triangular_number)  # Add the calculated triangular number to the set
    return triangular_numbers

# Input the value of 'n'
n = int(input("Enter the value of n: "))

# Call the function to generate the set of first 'n' triangular numbers
triangular_set = generate_triangular_numbers(n)

# Display the set of triangular numbers
print(f"The set of the first {n} triangular numbers is:", triangular_set)


48. Check if a set contains another set as a subset

In [ ]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}

# Check if set2 is a subset of set1
is_subset = set2.issubset(set1)

# Print the result
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

49. Create a set of alternating 1s and 0s of length n

In [ ]:
def create_alternating_set(n):
    # Initialize an empty set to store the alternating sequence.
    alternating_set = set()

    # Loop to generate alternating 1s and 0s.
    for i in range(n):
        # Alternate between adding 1 and 0 to the set based on whether i is even or odd.
        if i % 2 == 0:
            alternating_set.add(1)  # Add 1 if i is even.
        else:
            alternating_set.add(0)  # Add 0 if i is odd.

    return alternating_set

# Define the desired length of the alternating set.
length_n = 10

# Call the function to create the alternating set of length 'length_n'.
result = create_alternating_set(length_n)

# Print the resulting set.
print(result)

 50. Merge multiple sets into one.

In [ ]:
# Step 1: Create multiple sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

# Step 2: Use the union() method to merge sets
merged_set = set1.union(set2, set3)

# Alternatively, you can use the | operator
# merged_set = set1 | set2 | set3

# Step 3: Print the merged set
print("Merged Set:", merged_set)